* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin-right: 400px;
    border-color: navy;
    min-height: 15vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Header Section */
#hero {
    display: flex;
    border: 2px solid navy;
    background-color: #4a4a4a;
    background-size: cover;
    background-position: top right;
    position: relative;
    z-index: 1;
}
#hero::after {
    content:'';
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: #4a4a4a;
    opacity: .7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    justify-content: left;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
    color: rgb(100, 100, 191);
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    right: 300%;
    height: 100%;
    width: 0;
    background-color: aliceblue;
    animation: text_reveal_box 1s ease;
    animation-delay: 3s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
    color: navy;
}
#hero .cta {
    display: inline-block;
    flex-direction: row-reverse;
    justify-content: right;
    padding:  10px 30px;
    color: navy;
    background-color: transparent;
    border: 2px solid navy;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: left;
}
#hero .cta:hover {
    color: navy;
    background-color: #808080;
}
#hero .hero-image {
    display: flex;
    position: relative;
    justify-content: left;
    padding: 15px;
    margin: 10px;
    height: 300px;
    width: 300px;
    background-image: url(./img/recent-selfie.png);
    background-repeat: no repeat;
    background-size: 100%;
    outline: 2px solid navy;
}
/* End Header Section */

/* Hero Banner Section */
.hero-banner {
    display: flex;
    justify-content: center;
}
.banner-nav-wrapper {
    background-color: #4a4a4a;
}
.banner-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4a4a4a;
    font-size: 40px;
    position: relative;
    border: 3px solid navy;
    background-image: url(./img/Header-background.png);
    text-decoration: underline black;
}
.banner-content {
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 25px;
    border: 2px solid navy;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}
#banner {
    display: flex;
    flex-direction: row;
    padding:0px 40px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #4a4a4a;
    font-size: 40px;
    position: relative;
    border: 3px solid navy;
}
#banner .banner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 400px;
    justify-content: flex-start;
}
/* End Hero Banner Section */

/* About Section */
.about-header {
    display: flex;
    padding:0px 40px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #6495ed;
    font-size: 40px;
    position: relative;
    background-image: url(./img/Header-background.png);
    border: 3px solid navy;
    text-decoration: underline black;
}
.about-container {
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 25px;
    border: 2px solid navy;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}
.about-section {
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 25px;
    border: 2px solid navy;
    color: black;
    margin: 20px;
    padding: 5px;
}
#about {
    text-align: center;
    background-color: #4a4a4a;
    padding: 20px;
    position: relative;
    border: 3px solid navy;
}
#about h3 {
    font-size: 40px;
    justify-content: center;
    margin: 20px;
}
/* End About Section */

/* Portfolio Section */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.nav-link-wrapper {
    display: flex;
    border: 3px solid navy;
    background-image: url(./img/coding-doc.jpg);
    background-size: 100%;
}
#portfolio {
    background-color: #4a4a4a;
    padding: 15px;
    columns: row;
    position: relative;
    border: 2px solid navy;
}
#portfolio h4 {
    display: flex;
    padding: 40px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #6495ed;
    font-size: 40px;
    position: relative;
    background-image: url(./img/Header-background.png);
    border: 3px solid navy;
    text-decoration: underline black;
}
#portfolio li {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    border: 2px solid navy;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}
#portfolio .nav-link-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
#portfolio .cta {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid aliceblue;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: center;
}
#portfolio .cta:hover {
    color: #f0f8ff;
    background-color: aqua;
}
/* End Portfolio Section */

/* Contact Section */
.link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}
#contact{
    background-color: #4a4a4a;
    padding: 20px;
    position: relative;
    border: 3px solid navy;
}
#contact h5 {
    display: flex;
    padding: 40px;
    justify-content: center;
    box-sizing: border-box;
    background-color: #6495ed;
    font-size: 40px;
    position: relative;
    background-image: url(./img/Header-background.png);
    border: 3px solid navy;
    text-decoration: underline black;
}
#contact li {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    border: 2px solid navy;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}
#contact .cta {
    display: flex;
    justify-content: space-between, center;
    margin: 20px;
    padding: 20px;
    color: aliceblue;
    background-color: transparent;
    border: 2px solid navy;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
    text-align: center;
}
#contact .cta:nth-child(1) {
    background-image: url(./img/twitter-logo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-clip: content-box;
}
#contact .cta:nth-child(2) {
    background-image: url(./img/linkedin-logo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-clip: content-box;
}
#contact .cta:nth-child(3) {
    background-image: url(./img/github-logo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-clip: content-box;
}
/* End Contact Section */

/* Keyframes Section */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
}100%{
    width: 0;
    left: 100%;
 }
}
@keyframes text_reveal{
    100% {
        color: white;}
}
@keyframes text_reveal_name{
    100% {
        color: #8a2be2;
    font-weight: 500px;}
}
/* End Keyframes Section */